/**************************************************/
/*                      RESET                     */
/**************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width:100%;
  display: block;
  margin: 0 auto;
}

.noscroll { /*    add noscroll in js when hamburger menu is opened     */
  height: 100%;
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

/**************************************************/
/*                     HEADER                     */
/**************************************************/

.utsurundesu{ /*    main logo styling     */
  -webkit-transform:translateY(4rem);
      -ms-transform:translateY(4rem);
          transform:translateY(4rem);
  width:15.5rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.header-main{
  height:9.375rem;
  background-color:#000000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-sticky{
  position:fixed;
  top:0;
  width:100%;
  height:0;
  -webkit-transform:translateY(-3rem);
      -ms-transform:translateY(-3rem);
          transform:translateY(-3rem);
  z-index:20;
}

#sticky{
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s; /*    sticky header speed     */
}

.header-fix{  /*    added to header-sticky on scroll in js     */
  height:3rem;
  opacity:0.9;
  background-color:#ffffff;
  -webkit-transform:none;
      -ms-transform:none;
          transform:none;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s; /*    sticky header speed     */
  z-index:9;
}

.header-sticky-maxwidth{  /*    maxwidth for header elements     */
  max-width:83rem;
	margin:0 auto;
}

.header-sticky-text{ /*    sticky header caption styling     */
  margin:1rem 1.5rem 0 0;
  text-align:right;
  font-size:0.8rem;
  font-family:'Lato', sans-serif;
  color:#000000;
  -webkit-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

/************          @MEDIA          ************/

@media only screen and (min-width: 900px) {

  .utsurundesu{
    width:20rem;
  }
  
  .header-main{
    height:10.5rem;
  }
  
  .header-sticky{
    opacity:1;
    height:4rem;
    background-color:#000000;
    -webkit-transform:translateY(-4rem);
        -ms-transform:translateY(-4rem);
            transform:translateY(-4rem);
  }
  
  .open-desktop .header-sticky{ /*    turn sticky header into full page nav on hamburger open-desktop     */
    height:100vh;
  }
  
  .header-sticky-text{
    margin-top:1.5rem;
    font-size:1rem;
    color:#ffffff;
  }
  
  .header-fix{
    -webkit-transform:none;
        -ms-transform:none;
            transform:none;
  }
  

  
}



/**************************************************/
/*                   LIGHTBOX                     */
/**************************************************/

img, .lightbox{
  cursor: pointer;
}

.lightbox{
  position:fixed;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  top:0;
  height:100%;
  width:100%;
  opacity:0;
  background-color:#f2f2f2;
  z-index:-15;
}

.toggle .lightbox{
  z-index:3000;
  opacity:1;
  -webkit-transition:0.25s;
  -o-transition:0.25s;
  transition:0.25s;
}

#lightbox-img{
  position:relative;
  display: inline-block;
  margin: 0 auto;
  padding:1rem;
  opacity:0;
  max-height:90vh;
}

.toggle #lightbox-img{
  opacity:1;
  -webkit-transition:opacity 0.5s;
  -o-transition:opacity 0.5s;
  transition:opacity 0.5s;
  -webkit-transition-delay:0.5s;
       -o-transition-delay:0.5s;
          transition-delay:0.5s;
}


/**************************************************/
/*                    ARTICLE                     */
/**************************************************/

/************         GENERAL          ************/


.container-maxwidth{
  position:relative;
  max-width:93.75rem;
 	text-align:left;
	margin:1rem auto 0;
  -webkit-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

/************          REFLOW          ************/

.reflow{ 
  position:relative;
  background-color:#F2F2F2;
  padding-bottom:150%;
}
.reflow > img{
  position:absolute;
}

.r-landscape{
  padding-bottom:66.66%;
}
.r-landscape2{
  padding-bottom:80%;
}
.r-portrait{
  padding-bottom:125%;
}


/************       MAIN ARTICLE       ************/

  .kendra, .heng, .brent, .lee, .crew, .kal, .kal2, .friends, .bw, .bw2, .portraits{  /*main image padding for ipad viewport*/
    grid-gap:0.5rem;
    margin:0.5rem;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
  }
.kendra{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows:1fr 0.5rem 0.8fr 0.5rem 0.5fr 0.5rem 0.48fr;
  grid-template-rows:1fr 0.8fr 0.5fr 0.48fr;

}
.kendra > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;

}
.kendra > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;

}
.kendra > *:nth-child(3){
	-ms-grid-row: 3;
	-ms-grid-column: 1;

}
.kendra > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 3;

}
.kendra > *:nth-child(5){
	-ms-grid-row: 5;
	-ms-grid-column: 1;

}
.kendra > *:nth-child(6){
	-ms-grid-row: 5;
	-ms-grid-column: 3;

}
.kendra > *:nth-child(7){
	-ms-grid-row: 7;
	-ms-grid-column: 1;

}
.kendra > *:nth-child(8){
	-ms-grid-row: 7;
	-ms-grid-column: 3;

}
.three{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
.four{
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}
.five{
   -ms-grid-column:2;
   grid-column:2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
}
.six{
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}
.seven{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.eight{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.heng{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows:1fr 0.5rem 1fr;
  grid-template-rows:1fr 1fr;
}

.heng > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.heng > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.heng > *:nth-child(3){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.heng > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.brent{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows:1fr 0.5rem 1fr;
  grid-template-rows:1fr 1fr;
}

.brent > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.brent > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.brent > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.brent > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.brent > *:nth-child(5){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.brent > *:nth-child(6){
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
.fifteen{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}
.lee{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows:0.45fr 0.5rem 1fr;
  grid-template-rows:0.45fr 1fr;
}
.lee > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.lee > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.lee > *:nth-child(3){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.lee > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.crew{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.kal{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 0.25fr 0.5rem 0.25fr 0.5rem 0.2fr 0.5rem 0.33fr;
  grid-template-columns: 0.25fr 0.25fr 0.2fr 0.33fr;
  -ms-grid-rows:0.45fr;
  grid-template-rows:0.45fr;
}
.kal > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.kal > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.kal > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.kal > *:nth-child(4){
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}
.twentyfour{
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}
.twentyfive{
  -ms-grid-column: 4;
  grid-column: 4;
}
.kal2{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.thirtytwo{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.friends{
   display:-ms-grid;
   display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.thirtythree{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.thirtysix{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.bw{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.thirtyseven{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.fourty{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.bw2{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fiftyone, .fiftythree, .fiftyfive, .fiftyseven{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
.fiftytwo, .fiftyfour, .fiftysix, .fiftyeight{
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span:2;
  grid-column-end:5;
}
.portraits{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.sixtyfive{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
/************          @MEDIA          ************/

@media only screen and (min-width: 667px) {
  
  .main-title{
    font-size:2rem;
  }

  .kendra, .heng, .brent, .lee, .crew, .kal, .kal2, .friends, .bw, .bw2, .portraits{  /*main image padding for ipad viewport*/
    margin:1rem 6.5625rem 1rem;
    grid-gap:1rem;
  }


}

@media only screen and (min-width: 900px) {
  
  .container-maxwidth{
    margin:2rem auto 2rem;
  }
  
  .main-title{
    margin:0 0 3rem;
    font-size:3.5rem;
  }
  
  .kendra{
    display:-ms-grid;
    display:grid; 
    -ms-grid-columns:1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr; 
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1rem 1fr 1rem 0.66fr 1rem 0.66fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1fr 0.66fr 0.66fr 1fr 1fr;
  }
  
  .kendra > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(4){
		-ms-grid-row: 1;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(5){
		-ms-grid-row: 1;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(6){
		-ms-grid-row: 1;
		-ms-grid-column: 11;
  }
  
  .kendra > *:nth-child(7){
		-ms-grid-row: 3;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(8){
		-ms-grid-row: 3;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(9){
		-ms-grid-row: 3;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(10){
		-ms-grid-row: 3;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(11){
		-ms-grid-row: 3;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(12){
		-ms-grid-row: 3;
		-ms-grid-column: 11;
  }
  
  .kendra > *:nth-child(13){
		-ms-grid-row: 5;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(14){
		-ms-grid-row: 5;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(15){
		-ms-grid-row: 5;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(16){
		-ms-grid-row: 5;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(17){
		-ms-grid-row: 5;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(18){
		-ms-grid-row: 5;
		-ms-grid-column: 11;
  }
  
  .kendra > *:nth-child(19){
		-ms-grid-row: 7;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(20){
		-ms-grid-row: 7;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(21){
		-ms-grid-row: 7;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(22){
		-ms-grid-row: 7;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(23){
		-ms-grid-row: 7;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(24){
		-ms-grid-row: 7;
		-ms-grid-column: 11;
  }
  
  .kendra > *:nth-child(25){
		-ms-grid-row: 9;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(26){
		-ms-grid-row: 9;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(27){
		-ms-grid-row: 9;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(28){
		-ms-grid-row: 9;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(29){
		-ms-grid-row: 9;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(30){
		-ms-grid-row: 9;
		-ms-grid-column: 11;
  }
  
  .kendra > *:nth-child(31){
		-ms-grid-row: 11;
		-ms-grid-column: 1;
  }
  
  .kendra > *:nth-child(32){
		-ms-grid-row: 11;
		-ms-grid-column: 3;
  }
  
  .kendra > *:nth-child(33){
		-ms-grid-row: 11;
		-ms-grid-column: 5;
  }
  
  .kendra > *:nth-child(34){
		-ms-grid-row: 11;
		-ms-grid-column: 7;
  }
  
  .kendra > *:nth-child(35){
		-ms-grid-row: 11;
		-ms-grid-column: 9;
  }
  
  .kendra > *:nth-child(36){
		-ms-grid-row: 11;
		-ms-grid-column: 11;
  }
  .one{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  }
  .two{
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 4;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
  .three{
   -ms-grid-column: 1;
       grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row:3;
    grid-row:3;
  }
  .four{
     -ms-grid-column: 4;
         grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-row:3;
    grid-row:3;
  }
  .five{
     -ms-grid-column: 1;
     -ms-grid-column-span: 2;
     grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  }
  .six{
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row:4;
    grid-row:4;
  }
  .seven{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7;
  }
  .eight{
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-row:4;
    grid-row:4;
  }
  .nine{
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 2;
    grid-column-end: 7;
    -ms-grid-row:5;
    grid-row:5;
  }
  .ten{
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 2;
    grid-column-end: 7;
    -ms-grid-row:6;
    grid-row:6;
  }
  
  .heng{
    display:-ms-grid;
    display:grid; 
    -ms-grid-columns:1fr 1rem 1fr 1rem 1fr 1rem 1fr; 
    grid-template-columns:1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  
  .heng > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  
  .heng > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  
  .heng > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  
  .heng > *:nth-child(4){
		-ms-grid-row: 1;
		-ms-grid-column: 7;
  }
  .brent{
    display:-ms-grid;
    display:grid; 
    -ms-grid-columns:1fr 1rem 1fr 1rem 1fr; 
    grid-template-columns:1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .brent > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  .brent > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  .brent > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  .fifteen{
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row:1;
    grid-row:1;
  }
  .lee{
    display:-ms-grid;
    display:grid; 
    -ms-grid-columns:1.1fr 1rem 1fr 1rem 1fr; 
    grid-template-columns:1.1fr 1fr 1fr;
    -ms-grid-rows: 0.5fr 1rem 0.5fr 1rem 0.5fr 1rem 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .lee > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  .lee > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  .lee > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  .lee > *:nth-child(4){
		-ms-grid-row: 3;
		-ms-grid-column: 1;
  }
  .lee > *:nth-child(5){
		-ms-grid-row: 3;
		-ms-grid-column: 3;
  }
  .lee > *:nth-child(6){
		-ms-grid-row: 3;
		-ms-grid-column: 5;
  }
  .lee > *:nth-child(7){
		-ms-grid-row: 5;
		-ms-grid-column: 1;
  }
  .lee > *:nth-child(8){
		-ms-grid-row: 5;
		-ms-grid-column: 3;
  }
  .lee > *:nth-child(9){
		-ms-grid-row: 5;
		-ms-grid-column: 5;
  }
  .lee > *:nth-child(10){
		-ms-grid-row: 7;
		-ms-grid-column: 1;
  }
  .lee > *:nth-child(11){
		-ms-grid-row: 7;
		-ms-grid-column: 3;
  }
  .lee > *:nth-child(12){
		-ms-grid-row: 7;
		-ms-grid-column: 5;
  }
  .eighteen{
    -ms-grid-column: 1;
    grid-column: 1;
  
    -ms-grid-row:1;
  
        grid-row-start:1;
    -ms-grid-row-span:2;
    grid-row-end:3;
  }
  .nineteen{
    -ms-grid-column: 1;
    grid-column: 1;
  -ms-grid-row:3;
      grid-row-start:3;
    -ms-grid-row-span:2;
    grid-row-end:5;
  }
  .twenty{
     -ms-grid-column: 2;
     grid-column: 2;
  -ms-grid-row:1;
      grid-row-start:1;
    -ms-grid-row-span:4;
    grid-row-end:5;
  }
  .twentyone{
    -ms-grid-column: 3;
    grid-column: 3;
  -ms-grid-row:1;
      grid-row-start:1;
    -ms-grid-row-span:4;
    grid-row-end:5;
  }
  .kal{
    -ms-grid-columns: 0.29fr 1rem 0.25fr 1rem 0.17fr 1rem 0.33fr;
    grid-template-columns: 0.29fr 0.25fr 0.17fr 0.33fr;
  }
  .kal2{
    -ms-grid-columns:1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    -ms-grid-rows: 0.5fr 1rem 0.5fr 1rem 0.4fr;
    grid-template-rows: 0.5fr 0.5fr 0.4fr;
  }
  .kal2 > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  .kal2 > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  .kal2 > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  .kal2 > *:nth-child(4){
		-ms-grid-row: 1;
		-ms-grid-column: 7;
  }
  .kal2 > *:nth-child(5){
		-ms-grid-row: 3;
		-ms-grid-column: 1;
  }
  .kal2 > *:nth-child(6){
		-ms-grid-row: 3;
		-ms-grid-column: 3;
  }
  .kal2 > *:nth-child(7){
		-ms-grid-row: 3;
		-ms-grid-column: 5;
  }
  .kal2 > *:nth-child(8){
		-ms-grid-row: 3;
		-ms-grid-column: 7;
  }
  .kal2 > *:nth-child(9){
		-ms-grid-row: 5;
		-ms-grid-column: 1;
  }
  .kal2 > *:nth-child(10){
		-ms-grid-row: 5;
		-ms-grid-column: 3;
  }
  .kal2 > *:nth-child(11){
		-ms-grid-row: 5;
		-ms-grid-column: 5;
  }
  .kal2 > *:nth-child(12){
		-ms-grid-row: 5;
		-ms-grid-column: 7;
  }
  .twentysix{
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row:1;
    grid-row:1;
  }
  .twentyseven{
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row:1;
    grid-row:1;
  }
  .twentyeight{
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row:2;
    grid-row:2;
  }
  .twentynine{
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row:2;
    grid-row:2;
  }
  .thirty{
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span:2;
    grid-column-end:5;
  -ms-grid-row:3;
      grid-row-start:3;
    -ms-grid-row-span:1;
    grid-row-end:4;
  }
  .thirtyone{
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span:2;
    grid-column-end:3;
  -ms-grid-row:3;
      grid-row-start:3;
    -ms-grid-row-span:1;
    grid-row-end:4;
  }
  .thirtytwo{
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span:2;
    grid-column-end:5;
  -ms-grid-row:1;
      grid-row-start:1;
    -ms-grid-row-span:2;
    grid-row-end:3;
  }
  .friends{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1rem 0.7fr 1rem 1fr 1rem 1fr 1rem 0.7fr 1rem 1fr;
  grid-template-columns:1fr 0.7fr 1fr 1fr 0.7fr 1fr;
}
  .thirtythree{
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span:4;
    grid-column-end:7;
  }
  .thirtyfour{
    -ms-grid-column:1;
        grid-column-start:1;
    -ms-grid-column-span:2;
    grid-column-end:3;
    -ms-grid-row:1;
    grid-row:1;
  }
  .thirtyfive{
    -ms-grid-column:5;
        grid-column-start:5;
    -ms-grid-column-span:2;
    grid-column-end:7;
  }
  .thirtysix{
    -ms-grid-column:1;
        grid-column-start:1;
    -ms-grid-column-span:4;
    grid-column-end:5;
    -ms-grid-row:2;
    grid-row:2;
    -ms-grid-row-align:end;
        align-self:end;
  }
  .bw{
     -ms-grid-columns:1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
     grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows:0.8fr 1rem 0.8fr 1rem 0.6fr 1rem 0.55fr;
    grid-template-rows:0.8fr 0.8fr 0.6fr 0.55fr;
  }
  .bw > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
  }
  .bw > *:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
  }
  .bw > *:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
  }
  .bw > *:nth-child(4){
		-ms-grid-row: 1;
		-ms-grid-column: 7;
  }
  .bw > *:nth-child(5){
		-ms-grid-row: 1;
		-ms-grid-column: 9;
  }
  .bw > *:nth-child(6){
		-ms-grid-row: 1;
		-ms-grid-column: 11;
  }
  .bw > *:nth-child(7){
		-ms-grid-row: 3;
		-ms-grid-column: 1;
  }
  .bw > *:nth-child(8){
		-ms-grid-row: 3;
		-ms-grid-column: 3;
  }
  .bw > *:nth-child(9){
		-ms-grid-row: 3;
		-ms-grid-column: 5;
  }
  .bw > *:nth-child(10){
		-ms-grid-row: 3;
		-ms-grid-column: 7;
  }
  .bw > *:nth-child(11){
		-ms-grid-row: 3;
		-ms-grid-column: 9;
  }
  .bw > *:nth-child(12){
		-ms-grid-row: 3;
		-ms-grid-column: 11;
  }
  .bw > *:nth-child(13){
		-ms-grid-row: 5;
		-ms-grid-column: 1;
  }
  .bw > *:nth-child(14){
		-ms-grid-row: 5;
		-ms-grid-column: 3;
  }
  .bw > *:nth-child(15){
		-ms-grid-row: 5;
		-ms-grid-column: 5;
  }
  .bw > *:nth-child(16){
		-ms-grid-row: 5;
		-ms-grid-column: 7;
  }
  .bw > *:nth-child(17){
		-ms-grid-row: 5;
		-ms-grid-column: 9;
  }
  .bw > *:nth-child(18){
		-ms-grid-row: 5;
		-ms-grid-column: 11;
  }
  .bw > *:nth-child(19){
		-ms-grid-row: 7;
		-ms-grid-column: 1;
  }
  .bw > *:nth-child(20){
		-ms-grid-row: 7;
		-ms-grid-column: 3;
  }
  .bw > *:nth-child(21){
		-ms-grid-row: 7;
		-ms-grid-column: 5;
  }
  .bw > *:nth-child(22){
		-ms-grid-row: 7;
		-ms-grid-column: 7;
  }
  .bw > *:nth-child(23){
		-ms-grid-row: 7;
		-ms-grid-column: 9;
  }
  .bw > *:nth-child(24){
		-ms-grid-row: 7;
		-ms-grid-column: 11;
  }
  .thirtyseven{
    -ms-grid-column:1;
        grid-column-start:1;
    -ms-grid-column-span:6;
    grid-column-end:7;
  }
  .thirtyeight{
    -ms-grid-column:1;
        grid-column-start:1;
    -ms-grid-column-span:3;
    grid-column-end:4;
  }
  .thirtynine{
   -ms-grid-column:4;
       grid-column-start:4;
    -ms-grid-column-span:3;
    grid-column-end:7;
  }
  .fourty{
    -ms-grid-column:1;
        grid-column-start:1;
    -ms-grid-column-span:4;
    grid-column-end:5;
    -ms-grid-row:3;
    -ms-grid-row-span:4;
    grid-row:3 / span 4;
  }
  .fourtyone{
    -ms-grid-column:5;
        grid-column-start:5;
    -ms-grid-column-span:2;
    grid-column-end:7;
    -ms-grid-row:3;
    grid-row:3;
  }
  .fourtytwo{
    -ms-grid-column:5;
        grid-column-start:5;
    -ms-grid-column-span:2;
    grid-column-end:7;
    -ms-grid-row:4;
        grid-row-start:4;
    -ms-grid-row-span:2;
    grid-row-end:6;
  }
  .fiftyone{
  -ms-grid-column: 1;
  grid-column: 1;
}
  .fiftytwo{
    -ms-grid-column:2;
    grid-column:2;
  }
  .fiftythree{
    -ms-grid-column:3;
    grid-column:3;
  }
  .fiftyfour{
    -ms-grid-column:4;
    grid-column:4;
  }
  .fiftyfive{
  -ms-grid-column: 1;
  grid-column: 1;
}
  .fiftysix{
    -ms-grid-column:2;
    grid-column:2;
  }
  .fiftyseven{
    -ms-grid-column:3;
    grid-column:3;
  }
  .fiftyeight{
    -ms-grid-column:4;
    grid-column:4;
  }
  .portraits{
    -ms-grid-columns:1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .sixtyfive{
    -ms-grid-column:1;
    -ms-grid-column-span:6;
    grid-column:1 / span 6;
  }
}



/**************************************************/
/*                     FOOTER                     */
/**************************************************/

.footer{
  background-color:black;
  width:100%;
  height:6.25rem;
  color:white;
}
.footer-maxwidth{
  position:relative;
  max-width:93.75rem;
  height:100%;
	margin:0 auto;
}


.footer-copyright{
  position: absolute;
  margin-left:1.2rem;
  top:4.5rem;
  font-family:'Lato', sans-serif;
  font-size:0.7rem;
}

.footer-links{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  height:100%;
  width:100%;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.peace{
  font-size:2.5rem;
}


/***********        RETURN TO TOP        **********/

#button-return-top{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  top:0;
  margin:0 auto;
  background-color:white;
  height:3rem;
  width:3rem;
}

#button-return-top:focus {outline-color:white;}

.arrow-left{
  position:relative;
  left:1rem;
  width: 3px;
  height: 20px;
  background-color: black;
  -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
          transform:rotate(45deg);
}

.arrow-right{
  position:relative;
  left:1.6rem;
  width: 3px;
  height: 20px;
  background-color: black;
  -webkit-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
          transform:rotate(-45deg);
}

.focus-outline-visible{ /*    adding focus when tab is pressed     */
  outline-color:red;
}

@media only screen and (min-width: 900px) {
  
  #button-return-top{ /*    hide button on desktop     */
    display:none;
  }
  
}


/**************************************************/
/*                 <350px Devices                 */
/**************************************************/

@media only screen and (max-width: 370px) {
  
  html{
    font-size:13px;
  }
  
}
